{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block title %} Log in {% endblock title%}

{% if form.error %}
    <p>Your password or login, uncorrected!!!</p>
{% endif%}

{% block content %}
    {% if user.is_authenticated %}
        <p> What are you doing, here? Hi <b>{{ user.username }}</b></p>
        <a href="{% url 'home' %}">Home</a>
    {% else %}
        <form method="post" action="">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Log In">
        </form>
        <div class="password_reset">
            <a href="{% url 'password_reset'%}"> Forgot my password? </a>
        </div>
    {% endif %}
{% endblock content%}