{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body }}</p>
    </div>
    {% if user.is_authenticated and article.author.username == user.username %}
        <p>
            <a href="{% url 'article_edit' article.pk %}">Edit</a> |
            <a href="{% url 'article_delete' article.pk %}">Delete</a>
        </p>
    {% endif %}
    <p>Back to <a href="{% url 'articles' %}">All Articles</a>.</p>
{% endblock content %}