{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body }}</p>
    </div>
    {% if user.is_authenticated and article.author.username == user.username %}
        <p>
            <a href="{% url 'article_edit' article.pk %}" class="badge badge-primary">Edit</a> |
            <a href="{% url 'article_delete' article.pk %}" class="badge badge-warning">Delete</a>
        </p>
    {% endif %}
    <h3 class="text-info">Comments</h3>
    {% for comment in article.comments.all %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    <a href = "#">{{ comment.author }}</a>
                </span> &middot;
                <span class="text-muted"> on
                {{ comment.data }}</span>
            </div>
            <div class="card-body">
                {{ comment.body }}
            </div>
        </div>
        <br>
    {% endfor %}

    <p>Back to <a href="{% url 'articles' %}" class="badge badge-secondary">All Articles</a>.</p>
{% endblock content %}