{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block title %} Sing up {% endblock title%}

{% block content %}
    {% if user.is_authenticated %}
        <p> What are you doing, here? Hi <b>{{ user.username }}</b></p>
        <a href="{% url 'home' %}">Home</a>
    {% else %}
        <form method="post" action="">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Sign Up">
        </form>
    {% endif %}
{% endblock content%}